.cart {
    &>* {
        &:nth-child(1) {
            width: 44.45%;
            font-size: 14px;
        }
        &:nth-child(2) {
            width: 21.11%;
            font-size: 13px;
        }
        &:nth-child(3),
        &:nth-child(4) {
            width: 14.45%;
            font-size: 13px;
        }
        &:nth-child(5) {
            width: 3.33%;
            font-size: 13px;
        }
    }
    &__heading {
        display: flex;
        align-items: center;
        margin-bottom: 12px;
        padding: 9px 16px;
        background-color: #fff;
        position: sticky;
        top: 20px;
        z-index: 10;
        &::before {
            content: "";
            background-color: #f5f5f5;
            width: 100%;
            height: 20px;
            position: absolute;
            top: -20px;
            left: 0;
        }
        &::after {
            content: "";
            background-color: #f5f5f5;
            width: 100%;
            height: 10px;
            position: absolute;
            bottom: -10px;
            left: 0;
        }
    }
    &__checkbox {
        padding: 0 !important;
        margin-right: 12px !important;
        width: 18px;
        height: 18px;
    }
    &__title {
        font-size: 20px !important;
        margin-bottom: 20px !important;
    }
    &__list {
        background-color: #fff
    }
    &-coupon {
        padding: 16px;
        margin-bottom: 12px;
        background-color: #fff;
        border-radius: 4px;
        margin-bottom: 16px;
        &__title {
            font-size: 13px;
            font-weight: 500;
            margin-bottom: 16px;
        }
        &__item {
            width: 100%;
            height: 100%;
            position: relative;
        }
        &__content {
            display: flex;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            &>img {
                height: 100%;
                padding: 10px;
            }
        }
        &__right {
            width: 100%;
            height: 100%;
            padding: 8px 12px 8px 8px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            &>div {
                display: flex;
                align-items: center;
                justify-content: flex-end;
            }
        }
        &__showmore {
            margin: 16px 0;
            color: #0b74e5;
            font-size: 13px;
            display: flex;
            align-items: center;
            cursor: pointer;
        }
        &__unchoose.MuiButton-root {
            width: 73px;
            height: 24px;
            font-size: 13px;
            padding: 0;
            margin-left: 4px
        }
    }
    &__address {
        padding: 16px;
        background-color: #fff;
        margin-bottom: 12px;
        & p {
            font-size: 14px;
            line-height: 20px;
        }
    }
    &-summary {
        padding: 16px;
        background-color: #fff;
        border-radius: 4px;
        &__price {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
            &>span:first-child {
                font-weight: 300;
                color: #333;
                font-size: 14px;
            }
            &>span:last-child {
                font-size: 14px;
            }
        }
        &__valueprice {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            &>span:first-child {
                font-weight: 500;
                color: #ff0000;
                font-size: 22px;
            }
            &>span:last-child {
                font-weight: 300;
                font-size: 12px;
                margin-top: 2px;
            }
        }
        &__divider {
            margin: 20px 0;
            width: 100%;
            height: 1px;
            background-color: #f3f3f3
        }
    }
}